    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Martin Cespedes - WDD 231 - Web Frontend 1</title>
    <meta name="description" content="WDD 231 - Web Frontend 1. Course assignment portal for Martin Cespedes. Course offered by Brigham Young University - BYU, through Pathway Worldwide. Assignment portal links to all learning activities and project."/>
    <meta name="author" content="Martin Cespedes">
    <meta property="og:title" content="Martin Cespedes - WDD231 - Web Frontend 1"/>
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://pbs.twimg.com/media/DTsoG8_XUAEzZhB?format=webp&name=small">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/larger.css" />
    <script src="/scripts/script.js" defer></script>