<nav>
    <!--<button id="menu"></button>-->
        <ul class="navigation">
          <li>
            <a href="#" target="_blank">Home</a>
          </li>
          <li>
            <a
              href="chamber/index.html"target="_blank">Custom</a>
          </li>
          <li>
            <a href="#" target="_blank">Sedan</a>
          </li>
          <li>
            <a
              href="#"target="_blank">SUV</a>
          </li>
          <li>
            <a
              href="#"target="_blank">Truck</a>
          </li>
        </ul>
      </nav>
</nav>